*{
    box-sizing: border-box;
}
.fluid{
    height: 20%;
    width: 100%;
}
.name{
    display: inline-block;
    font-family: monospace;
    font-size: 1.8em;
    padding: 12px 20px 8px 60px;
    margin-left: 100px;
}
.name a{
    text-decoration: none;
    color: cadetblue;
}
.name a:hover{
    text-decoration: none;
}
nav, ul, li{
    display: inline-block;
}
nav{
    float: right;
    font-family: monospace;
    font-size: 1.4em;
    padding: 12px 60px 8px 5px;
    margin-right: 100px;
}
nav a{
    text-decoration: none;
    color: darkturquoise;
}
nav li{
    margin-right: 20px;
}
.banner{
    height: 60vh;
    text-align: center;
    padding-top: 80px;
    background-color: aqua;
    color: aliceblue;
}
img{
    width: 150px;
}